# pdf
*.pdf filter=lfs diff=lfs merge=lfs -text
# text
*.txt filter=lfs diff=lfs merge=lfs -text
# zip
*.zip filter=lfs diff=lfs merge=lfs -text
# images
*.jpg filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
# lock files
yarn.lock filter=lfs diff=lfs merge=lfs -text
